.task {
  .left-task {
    width: 270px;
    background-color: #e8ebed;
    box-shadow: 1px 0 1px 0 rgba(0,0,0,.06), inset -1px 0 0 0 rgba(255,255,255,.2);
    border-right: 1px solid #d3caca;
    padding: 10px;
    float: left;
    .head-bar {
      .add-action {
        background-color: transparent;
        height: 22px;
        line-height: 22px;
        float: right;
        width: 32px;
        padding: 0;
        min-width: auto;
        text-align: center;
        cursor: pointer;
        i {
          color: black;
        }
      }
      .add-action:hover {
        background-color: #cfd6da;
      }
      .add-action:active {
        background-color: transparent;
      }
    }
    .ms-SearchBox {
      background-color: transparent;
      height: 28px;
      margin-bottom: 5px;
      border-color: #98b5dd;
      .ms-SearchBox-iconContainer, input {
        font-size: 12px;
      }
    }
    .is-active {
      border-bottom: 2px solid #4f82d3;
    }
    .task-list {
      overflow-y: auto;
      font-size: 12px;
      width: calc(100% + 20px);
      margin-left: -10px;
      .overall, .task-item {
        height: 32px;
        line-height: 32px;
        padding-left: 12px;
        cursor: pointer;
      }
      .overall, .task-item {
        i {
          font-size: 14px;
          float: left;
          margin-right: 5px;
        }
        .title-name {
          display: inline-block;
          width: calc(100% - 50px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .edit-icon {
          float: right;
          font-size: 12px;
          font-weight: 600;
          visibility: hidden;
        }
      }
      .overall {
        i {
          color: #2b569a;
        }
      }
      .overall:not(.active):hover, .task-item:not(.active):hover {
        background-color: #d4e0f4;
        .title-name {
          color: #2b569a;
        }
      }
      .task-item:hover {
        i:not(.edit-icon) {
          color: #2b569a;
        }
        .edit-icon {
          visibility: visible;
        }
        .edit-icon:hover {
          color: #2b569a;
        }
      }
      .task-item:not(.active):hover {
        background-color: #d4e0f4;
      }
      .active {
        background-color: #fff;
        .title-name, i {
          color: #2b569a;
        }
      }
      .ant-pagination {
        text-align: center;
        font-size: 12px;
      }
    }
  }
  .center-task {
    margin-left: 291px;
    height: calc(100% - 32px);
    width: calc(100% - 339px);
    padding: 16px 24px;
    .over-all {
      height: 100%;
      .center-top {
        height: 110px;
        .ms-Card {
          max-width: none;
          width: calc(100% - 40px);
          margin-left: 20px;
          height: 100px;
          text-align: center;
          .card-title {
            font-size: 12px;
            font-weight: 600;
            color: #8c9394;
          }
          .card-num {
            font-size: 34px;
            font-weight: 400;
            color: #000;
            cursor: pointer;
          }
          .run {
            color: green;
          }
          .stop {
            color: red;
          }
        }
      }
      .center-board {
        height: calc(100% - 110px);
        .bar-action {
          height: 36px;
          line-height: 36px;
          .table-desc {
            font-size: 18px;
            font-weight: 600;
            color: rgba(10, 18, 32, 0.64);
          }
          .right-button-group {
            float: right;
            padding-top: 6px;
            height: 30px;
            line-height: 30px;
            .ms-Button {
              height: 30px;
              max-height: none;
              min-height: auto;
              padding: 0 6px;
              max-width: none;
              min-width: auto;
              margin-right: 5px;
              float: left;
            }
            .label {
              font-size: 14px;
              font-weight: 600;
              margin-right: 5px;
              float: left;
            }
            .ms-TextField {
              display: inline-block;
              height: 30px;
              margin-right: 5px;
              float: left;
              .ms-TextField-fieldGroup {
                height: 30px;
                width: 120px;
              }
            }
            .ms-Dropdown-container {
              display: inline-block;
              top: -9px;
              height: 30px;
              width: 120px;
              margin-right: 5px;
              float: left;
              .ms-Dropdown-title, .ms-Dropdown-caretDownWrapper {
                height: 30px;
                line-height: 30px;
              }
            }
            .search {
              margin-left: 5px;
            }
          }
        }
        .task-table {
          height: calc(100% - 35px);
          overflow-y: auto;
          overflow-x: hidden;
          .running {
            color: green;
          }
          .stop {
            color: red;
          }
          .action-col {
            height: 30px;
            width: 30px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
          }
          .action-col:hover {
            background-color: #dde2e4;
          }
        }
        .ms-Pagination-container {
          text-align: right;
          margin-right: 25px;
          margin-top: 5px;
        }
      }
    }
    .task-details {
      height: 100%;
      .task-top {
        height: 80px;
        .task-name {
          font-size: 24px;
          display: inline-block;
          max-width: 400px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .ms-Button {
          height: 28px;
          padding: 0;
          min-width: auto;
          width: 50px;
          margin-top: 4px;
          margin-left: 20px;
        }
      }
      .task-center {
        .ms-FocusZone {
          border-bottom: 1px solid #d7e0e0;
          padding-bottom: 5px;
        }
        .task-history {
          height: calc(100% - 35px);
          overflow-y: auto;
          overflow-x: hidden;
          .running {
            color: green;
          }
          .stop {
            color: red;
          }
          .action-col {
            height: 30px;
            width: 30px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
          }
          .action-col:hover {
            background-color: #dde2e4;
          }
        }
        .ms-Pagination-container {
          text-align: right;
          margin-right: 25px;
          margin-top: 5px;
        }
      }
    }
  }
  .no-data {
    height: 100%;
    .ms-Image {
      height: 100%;
      text-align: center;
      img {
        height: 100%;
        display: inline-block;
      }
    }
  }
}
